.carouselContainer {
  position: relative;
  top: 0;
  width: 100vw;
  overflow: hidden;
  height: var(--carousel-height);
  z-index: 1;
  background-color: #0070F3;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.slideHeading {
  font-size: 2rem;
  color: white;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  padding-top: 20px;
  z-index: 1001;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 1300px) {
    .carouselImage {
      max-height: 570px;
    }
}